@import "./interior.css";
@import "./about_us.css";
@import "./project.css";
@import "./service.css";
@import "./reviews.css";
@import "./gallery_project.css";
@import "./contact.css";
@import "./footer.css";
@import "./header.css";

html{
    scroll-behavior: smooth;
}

body {
    font-family: 'Manrope', sans-serif;
    width: 100%; 
}

.container{
    margin: 0 auto;
    width: 1200px;
    padding-left: 25px;
    padding-right: 25px;
}

.btn {    
    display: block;
    margin-bottom: 151px;
    padding: 55px 0px;
    width: 100%;    
    border: 1px solid #AD1818;
    border-radius: 5px;
    text-align: center;
    font-weight: 400;
    font-size: 30px;
    line-height: 41px;
    letter-spacing: -0.03em;
    text-decoration: none;
    color: #AD1818;
    transition-duration: 0.75s;
}

.btn:hover{
    background-color: #AD1818;
    color: #FFFFFF;
}

@media (max-width: 1199px) {
    .container{        
        width: 100%;
        padding-left: 17px;
        padding-right: 15px;        
    }

    .btn{
        margin-bottom: 104px;
    }
}  
@media (max-width: 767px) {
    .container{    
        padding-left: 13px;
        padding-right: 12px;
        padding-bottom: 0px;
        
    }

    .btn{
        padding: 34px 0px;
        margin-bottom: 143px;
        font-size: 22px;
        line-height: 30px;
    }
}

